body {
    box-sizing: border-box;
    margin: auto;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    background-color: var(--VeryDarkBlue);
}

.layout {
    max-width: 1024px;
    margin: auto;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

:root {
    --Blue: hsl(246, 80%, 60%);
    --LightRed-Work: hsl(15, 100%, 70%);
    --SoftBlue-Play: hsl(195, 74%, 62%);
    --LightRed-Study: hsl(348, 100%, 68%);
    --LimeGreenexErcise: hsl(145, 58%, 55%);
    --VioletSocials: hsl(264, 64%, 52%);
    --SoftOrangeSelfCare: hsl(43, 84%, 65%);
    /* natural */
    --VeryDarkBlue: hsl(226, 43%, 10%);
    --DarkBlue: hsl(235, 46%, 20%);
    --DesaturatedBlue: hsl(235, 45%, 61%);
    --PaleBlue: hsl(236, 100%, 87%);
}

.Containers {
    padding: 0px 60px;
    margin: 300px 0;
    display: grid;
    grid-template-columns: 207.25px 207.25px 207.25px 207.25px;
    grid-template-rows: 207.25px 207.25px;
    column-gap: 25px;
    row-gap: 25px;
    grid-template-areas: 'area1 . . .' 'area1 . . .';
}

.Containers .Containers-leftSide {
    grid-area: area1;
    background-color: var(--DarkBlue);
}

.Containers .Personal-Information {
    height: 70%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--Blue);
    position: relative;
}

.Containers .Personal-Information img {
    max-width: 120px;
    position: absolute;
    top: 30px;
    left: 32px;
}

.Containers .Personal-Information :nth-child(2) {
    color: var(--PaleBlue);
    font-weight: 500;
    font-family: 'Rubik';
    position: absolute;
    top: 165px;
    left: 32px;
}

.Containers .Personal-Information :nth-child(3) {
    color: #ffff;
    font-size: 36px;
    position: absolute;
    bottom: 35px;
    left: 32px;
    font-weight: lighter;
}

.Containers .buttons {
    height: 30%;
    background-color: var(--DarkBlue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.Containers .buttons button {
    padding: 0;
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    border: none;
    background: none;
}

.Containers-leftSide~div {
    background-color: var(--Blue);
}

.Containers .Containers-Work {
    position: relative;
    background-color: var(--LightRed-Work);
    border-radius: 10px;
}

.Containers-Work .icon {
    position: absolute;
    top: 2px;
    right: 2px;
}

.Containers-Work .Containers-Work-Text {
    background-color: var(--DarkBlue);
    height: 80%;
    position: absolute;
    width: 100%;
    top: 42px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
}

.context {
    width: 83%;
    max-width: 83%;
}

.text-Title {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-Title h2 {
    color: #ffff;
    font-weight: 300;
}

.text-Title button {
    font-size: 40px;
    border: none;
    background: none;
    margin-top: -18px;
    color: #ffff;
}

.Containers-Work-Text :nth-child(2) {
    font-size: 50px;
    margin-bottom: 10px;
}

.Containers-Work-Text p {
    color: #ffff;
    margin: 10px 0px;
}

.Containers .Containers-Play {
    position: relative;
    background-color: var(--SoftBlue-Play);
    border-radius: 10px;
}

.Containers-Play .icon {
    position: absolute;
    top: 2px;
    right: 10px;
}

.Containers-Play .Containers-Play-Text {
    background-color: var(--DarkBlue);
    height: 80%;
    position: absolute;
    width: 100%;
    top: 42px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
}

.Containers-Play-Text :nth-child(2) {
    font-size: 50px;
    margin-bottom: 10px;
}

.Containers-Play-Text p {
    color: #ffff;
    margin: 10px 0;
}

.Containers .Containers-Study {
    position: relative;
    background-color: var(--LightRed-Study);
    border-radius: 10px;
}

.Containers-Study .icon {
    position: absolute;
    top: 2px;
    right: 10px;
}

.Containers-Study .Containers-Study-Text {
    background-color: var(--DarkBlue);
    height: 80%;
    position: absolute;
    width: 100%;
    top: 42px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
}

.Containers-Study-Text :nth-child(2) {
    font-size: 50px;
    margin-bottom: 10px;
}

.Containers-Study-Text p {
    color: #ffff;
    margin: 10px 0px;
}

.Containers .Containers-Exercise {
    position: relative;
    background-color: var(--LimeGreenexErcise);
    border-radius: 10px;
}

.Containers-Exercise .icon {
    position: absolute;
    top: 2px;
    right: 10px;
}

.Containers-Exercise .Containers-Exercise-Text {
    background-color: var(--DarkBlue);
    height: 80%;
    position: absolute;
    width: 100%;
    top: 42px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
}

.Containers-Exercise-Text :nth-child(2) {
    font-size: 50px;
    margin-bottom: 10px;
}

.Containers-Exercise-Text p {
    color: #ffff;
    margin: 10px 0;
}

.Containers .Containers-social {
    position: relative;
    background-color: var(--VioletSocials);
    border-radius: 10px;
}

.Containers-social .icon {
    position: absolute;
    top: 2px;
    right: 10px;
}

.Containers-social .Containers-social-Text {
    background-color: var(--DarkBlue);
    height: 80%;
    position: absolute;
    width: 100%;
    top: 42px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
}

.Containers-social-Text :nth-child(2) {
    font-size: 50px;
    margin-bottom: 10px;
}

.Containers-social-Text p {
    color: #ffff;
    margin: 10px 0px;
}

.Containers .Containers-Self-Care {
    position: relative;
    background-color: var(--SoftOrangeSelfCare);
    border-radius: 10px;
}

.Containers-Self-Care .icon {
    position: absolute;
    top: 2px;
    right: 10px;
}

.Containers-Self-Care .Containers-Self-Care-Text {
    background-color: var(--DarkBlue);
    height: 80%;
    position: absolute;
    width: 100%;
    top: 42px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    margin: auto;
}

.Containers-Self-Care-Text :nth-child(2) {
    font-size: 50px;
    margin-bottom: 10px;
}

.Containers-Self-Care-Text p {
    color: #ffff;
    margin: 10px 0px;
}

.mediaqueryMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

/* for screen more than 971 px */

@media only screen and (min-width: 750px) {
    .Containers-Work-Text .context .mediaqueryMobile {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    .Containers-Play-Text .context .mediaqueryMobile {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    .Containers-Study-Text .context .mediaqueryMobile {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    .Containers-Exercise-Text .context .mediaqueryMobile {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    .Containers-social-Text .context .mediaqueryMobile {
        display: none;
    }
}

@media only screen and (min-width: 750px) {
    .Containers-Self-Care-Text .context .mediaqueryMobile {
        display: none;
    }
}

/* for screen between 550-971px */

@media only screen and (max-width: 971px) {
    .Containers {
        padding: 0px 140px;
        margin: 200px 0;
        display: grid;
        grid-template-columns: 170px 150px 150px 150px;
        grid-template-rows: 150px 150px;
        column-gap: 15px;
        row-gap: 25px;
        grid-template-areas: 'area1 . . .' 'area1 . . .';
    }
}

@media only screen and (max-width: 971px) {
    .text-Title h2 {
        color: #ffff;
        font-size: small;
        font-weight: 300;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-leftSide {
        height: 337px;
    }
}

@media only screen and (max-width: 971px) {
    .text-Title button {
        font-size: 35px;
        border: none;
        background: none;
        margin-top: 7px;
        color: #ffff;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Work-Text :nth-child(2) {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Work-Text p {
        color: #ffff;
        margin: 5px 0px;
        font-size: small;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Play-Text :nth-child(2) {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Play-Text p {
        color: #ffff;
        margin: 5px 0px;
        font-size: small;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Study-Text :nth-child(2) {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Study-Text p {
        color: #ffff;
        margin: 5px 0px;
        font-size: small;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Exercise-Text :nth-child(2) {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Exercise-Text p {
        color: #ffff;
        margin: 5px 0px;
        font-size: small;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-social-Text :nth-child(2) {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-social-Text p {
        color: #ffff;
        margin: 5px 0px;
        font-size: small;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Self-Care-Text :nth-child(2) {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers-Self-Care-Text p {
        color: #ffff;
        margin: 5px 0px;
        font-size: small;
    }
}

@media only screen and (max-width: 971px) {
    .Containers .Personal-Information :nth-child(2) {
        color: var(--PaleBlue);
        font-weight: 300;
        font-family: 'Rubik';
        position: absolute;
        font-size: large;
        top: 160px;
        left: 34px;
    }
}

@media only screen and (max-width: 971px) {
    .Containers .Personal-Information :nth-child(3) {
        color: #ffff;
        font-size: large;
        position: absolute;
        bottom: 30px;
        left: 32px;
        font-weight: lighter;
    }
}

/*  */

/* Personal-Information */

@media only screen and (max-width: 750px) {
    .Containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 750px) {
    .Containers .Containers-leftSide {
        height: 250px;
        min-width: 310px;
        max-width: 500px;
        width: 100%;
        border-radius: 15px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .Containers .Personal-Information {
        height: 150px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers .Personal-Information img {
        padding: 0 30px;
        width: 100px;
        height: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Containers .Personal-Information :nth-child(2) {
        color: var(--PaleBlue);
        font-weight: 400;
        font-family: 'Rubik';
        position: absolute;
        font-size: x-large;
        top: 50px;
        left: 172px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers .Personal-Information :nth-child(3) {
        color: var(--PaleBlue);
        font-weight: 300;
        font-family: 'Rubik';
        position: absolute;
        font-size: x-large;
        top: 80px;
        left: 171px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers .buttons {
        margin: 8px 0;
    }
}

/* Work */

@media only screen and (max-width: 750px) {
    .Containers-Work {
        height: 200px;
        max-width: 500px;
        min-width: 310px;
        width: 100%;
        border-radius: 15px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Work .Containers-Work-Text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Work .Containers-Work-Text .context {
        margin: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Work .Containers-Work-Text .text-Title h2 {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Work .Containers-Work-Text .context p {
        text-align: left;
        font-size: x-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Work .Containers-Work-Text .context :nth-child(3) {
        margin-left: 240px;
        /* margin-bottom: 100px; */
    }
}

/* Play*/

@media only screen and (max-width: 750px) {
    .Containers-Play {
        height: 200px;
        min-width: 310px;
        max-width: 500px;
        width: 100%;
        border-radius: 15px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Play .Containers-Play-Text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Play .Containers-Play-Text .context {
        margin: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Play .Containers-Play-Text .text-Title h2 {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Play .Containers-Play-Text .context p {
        text-align: left;
        font-size: x-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Play .Containers-Play-Text .context :nth-child(3) {
        margin-left: 240px;
    }
}

/* Study */

@media only screen and (max-width: 750px) {
    .Containers-Study {
        height: 200px;
        max-width: 500px;
        min-width: 310px;
        width: 100%;
        border-radius: 15px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Study .Containers-Study-Text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Study .Containers-Study-Text .context {
        margin: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Study .Containers-Study-Text .text-Title h2 {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Study .Containers-Study-Text .context p {
        text-align: left;
        font-size: x-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Study .Containers-Study-Text .context :nth-child(3) {
        margin-left: 240px;
    }
}

/* Exercise */

@media only screen and (max-width: 750px) {
    .Containers-Exercise {
        height: 200px;
        max-width: 500px;
        min-width: 310px;
        width: 100%;
        border-radius: 15px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Exercise .Containers-Exercise-Text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Exercise .Containers-Exercise-Text .context {
        margin: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Exercise .Containers-Exercise-Text .text-Title h2 {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Exercise .Containers-Exercise-Text .context p {
        text-align: left;
        font-size: x-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Exercise .Containers-Exercise-Text .context :nth-child(3) {
        margin-left: 240px;
    }
}

/* social */

@media only screen and (max-width: 750px) {
    .Containers-social {
        height: 200px;
        max-width: 500px;
        min-width: 310px;
        width: 100%;
        border-radius: 15px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-social .Containers-social-Text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-social .Containers-social-Text .context {
        margin: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-social .Containers-social-Text .text-Title h2 {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-social .Containers-social-Text .context p {
        text-align: left;
        font-size: x-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-social .Containers-social-Text .context :nth-child(3) {
        margin-left: 240px;
    }
}

/* Self-Care */

@media only screen and (max-width: 750px) {
    .Containers-Self-Care {
        height: 200px;
        max-width: 500px;
        width: 100%;
        border-radius: 15px;
        position: relative;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Self-Care .Containers-Self-Care-Text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Self-Care .Containers-Self-Care-Text .context {
        margin: auto;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Self-Care .Containers-Self-Care-Text .text-Title h2 {
        font-size: xx-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Self-Care .Containers-Self-Care-Text .context p {
        text-align: left;
        font-size: x-large;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Self-Care .Containers-Self-Care-Text .context :nth-child(3) {
        margin-left: 240px;
    }
}

/* max width 750 */

@media only screen and (max-width: 750px) {
    .Containers-Work-Text .context .text-Title+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Work-Text .context .text-Title+p+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Play-Text .context .text-Title+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Play-Text .context .text-Title+p+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Study-Text .context .text-Title+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Study-Text .context .text-Title+p+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Exercise-Text .context .text-Title+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Exercise-Text .context .text-Title+p+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-social-Text .context .text-Title+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-social-Text .context .text-Title+p+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Self-Care-Text .context .text-Title+p {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .Containers-Self-Care-Text .context .text-Title+p+p {
        display: none;
    }
}